@import '../../styles.scss';
.pokemon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  min-height: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.pokemon-info-content-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  &-description {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #163605;
    font-style: italic;
  }
  &-base-happiness,
  &-capture-rate,
  &-height,
  &-weight,
  &-base-experience {
    font-size: 16px;
    font-weight: bold;
    color: #ff6a00;
    span {
      color: #9e0808;
    }
  }
}

h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
  color: #ff6a00;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.pokemon-info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  display: block;
  width: 30%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid $primary-color;
  border-radius: 5px;
  background-color: $primary-color;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: $secondary-color;
  }
}
