.error-test-btn {
  color: #fff;
  cursor: pointer;
  text-align: center;
  background-color: #ff6a00;
  border: 1px solid #ff6a00;
  border-radius: 5px;
  width: 80px;
  margin-top: 20px;
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s;
  display: block;
  &:hover {
    background-color: #ff6a00d1;
  }
}
