* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #ff6a00;
$secondary-color: #ff6a00d1;

.dark,
.dark button {
  background-color: #494545;
  color: $primary-color;
  border-color: #fff;
}
